# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.sqlite3

# Python virtual environments
.venv/
venv/
env/

# ML artifacts
saved_models/*.pt
saved_models/*.pth
!saved_models/.gitkeep

# Local environment files
.env
.env.*
*.env

